---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Quote from '../components/react_components/Quote.jsx';
import Award from '../components/react_components/Award.jsx';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, my name is Safidy Rambeloson"
					tagline="I am an enthusiastic Senior Fullstack Developer (Frontend Expert), agile to deliver user-friendly products. I'm based in Saskatoon, Canada."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> Digital artist</Pill>
					</div>
				</Hero>

				<img
					alt="Safidy Rambeloson working with a laptop."
					width="480"
					height="620"
					src="/assets/photo1.jpg"
				/>
			</header>

			<Skills />

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Awards / Nominations</h3>
				</header>
				<div class="gallery">
					<Grid variant="small">
						<Award
							client:only="react"
							title="Unleash + Impact"
							subTitle="2023 (Viamo Inc.)"
							tooltip="Unleash: Foster Talent, Share Back - Step Up. Impact: Empathize with end users, Create Enduring Impact at Scale."/>
						<Award
							client:only="react"
							title="Delight + Unleash"
							subTitle="2021 (Viamo Inc.)"
							faIcon="fa-solid fa-trophy"
							tooltip="Delight: Exceed Expectations, take accountability for results and persevere. Unleash: Foster Talent, Share Back - Step Up."/>
						<Award
							client:only="react"
							title="Delight"
							subTitle="2020 (Viamo Inc.)"
							faIcon="fa-solid fa-gem"
							tooltip="Delight: Exceed Expectations, take accountability for results and persevere."/>
						<Award
							client:only="react"
							title="Developer of the year"
							subTitle="2018 (HNI - Value Awards)"
							faIcon="fa-solid fa-medal"/>
						<Award
							client:only="react"
							title="Valedictorian [Master degree]"
							subTitle="2007-2012, ESPA University"
							faIcon="fa-solid fa-user-graduate"/>
					</Grid>
				</div>
			</section>
		</div>

		<main class="wrapper stack gap-20 lg:gap-32">
			<!--TODO: enable this once we have more portfolio items to display-->
			<!--<section class="section with-background with-cta">-->
			<!--	<header class="section-header stack gap-2 lg:gap-4">-->
			<!--		<h3>Selected Work</h3>-->
			<!--		<p>Take a look below at some of my featured work for clients from the past few years.</p>-->
			<!--	</header>-->

			<!--	<div class="gallery">-->
			<!--		<Grid variant="offset">-->
			<!--			{-->
			<!--				projects.map((project) => (-->
			<!--					<li>-->
			<!--						<PortfolioCard client:only="react" project={project} />-->
			<!--					</li>-->
			<!--				))-->
			<!--			}-->
			<!--		</Grid>-->
			<!--	</div>-->

			<!--	<div class="cta">-->
			<!--		<CallToAction href="/work/" class="check-out-my-works">-->
			<!--			View all-->
			<!--			<Icon icon="arrow-right" size="1.2em"/>-->
			<!--		</CallToAction>-->
			<!--	</div>-->
			<!--</section>-->

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Mentions</h3>
					<p>
						Below are some highlights from former colleagues,
						feel free to browse my <a href="https://www.linkedin.com/in/safidy-rambeloson-64b403114/details/recommendations/">LinkedIn recommendations</a> for more details.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						<Quote
							client:only="react"
							avatar="https://media.licdn.com/dms/image/C5603AQH1sPk2nzynww/profile-displayphoto-shrink_100_100/0/1641649180139?e=1727913600&v=beta&t=K2T5dCR9AEH2K17iwvTNTBltSSF8m2ICkdNJm1jcDuA"
							author="Matt Daneshvar (Senior Software Engineer)"
							quote="Saf is a proactive leader, a champion for growth, and a natural communicator with outstanding technical skills. ... has been an advocate in building our technical Knowledge Base, a key contributor to our Design System, and the lead engineer behind several complex features of our system that could've not been built without his strong full-stack foundation. ..."/>

						<Quote
							client:only="react"
							avatar="https://media.licdn.com/dms/image/D4D03AQEQq5XpeYYorQ/profile-displayphoto-shrink_100_100/0/1690934772920?e=1727913600&v=beta&t=srizVmMrgtdGmQh0NKqmWh8zn1Vw7QOr4C1QFsHgabo"
							author="Andrews Ribeiro (Senior Full-Stack Engineer)"
							quote="... he had an eagle eye because during code reviews, he would always spot areas for improvement that others missed. He consistently showed a willingness to learn and share his knowledge. Safidy is very focused on his work and adheres to the best practices of project organization like Scrum. ..."/>

						<Quote
							client:only="react"
							avatar="https://media.licdn.com/dms/image/D5603AQFMvm6pJLj3Cw/profile-displayphoto-shrink_100_100/0/1696279591054?e=1727913600&v=beta&t=6GXzrPatB3Ef2MvV_0eGqlKOaKO-QvCqfR0I35YoTBQ"
							author="Jacob Ashdown (Engineer Manager)"
							quote="... Safidy is one of the fastest learners I've had as a colleague. ... he always pushed himself to understand new approaches and technologies, rapidly gaining a deep knowledge of Vue, Typescript and Laravel ..."/>

						<Quote
							client:only="react"
							avatar="https://media.licdn.com/dms/image/D4E35AQFggRvLQxuJew/profile-framedphoto-shrink_100_100/0/1718210486609?e=1722970800&v=beta&t=2uGKhFyHJeR-SJCFf_viS-zVr3e5a2a0MalgwKREaJ4"
							author="Bartholomew Sullivan (Senior designer)"
							quote="Working with Safidy is always a delight. His attention to detail matched with a gift to think about the big picture make him one of the best decision maker I've worked with. ..."/>

					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: bottom;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}



</style>
