---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import PortfolioCard from '../components/react_components/PortfolioCard.jsx';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Work | Safidy Rambeloson"
	description="Learn about Safidy Rambeloson's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioCard client:only="react" project={project}/>
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
