---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend expert</h2>
		<ul>
			<li>Pure modern frontend technologies (Node, Vue, TS, etc).</li>
			<li>Design system implementation & maintenance (Storybook).</li>
			<li>Design reviews & collaboration (Figma).</li>
			<li>Open source libraries implementation & maintenance (NPM, Lerna).</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strong Full Stack</h2>
		<ul>
			<li>Complex web applications CI/CD, within US/Canadian SaaS  startups.</li>
			<li>Test coverage advocacy (unit testing, E2E).</li>
			<li>APIs implementation (REST, GraphQL).</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Champion of documentation</h2>
		<ul>
			<li>Onboarding doc (mentoring / goals)</li>
			<li>Knowledge base (env setup, troubleshooting, etc)</li>
			<li>Process</li>
			<li>etc</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone-stage" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Continuous learning advocate</h2>
		<p>I am passionate about acquiring new knowledge and sharing my insights with others. I actively encourage my colleagues to embrace continuous learning and strive to enhance the team's collective learning capacity.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Scrum master</h2>
		<p>I facilitate agile practices and ensure efficient team collaboration. I guide teams in following Scrum principles, remove impediments, and foster a productive and adaptive working environment to achieve our goals.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="paper-plane-tilt" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>BI/Analytics</h2>
		<p>I have extra skills in Business Intelligence and Analytics, transforming complex data into actionable insights. I leverage advanced analytical tools and techniques to drive data-driven decision-making, optimize performance, and uncover opportunities for growth.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
