.MuiPaper-root {
    display: flex;
    max-width: 30rem;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem !important;

    & .MuiCardContent-root {
        & .MuiTypography-root {
            color: var(--gray-300);
        }
    }
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
}

@media (min-width: 50em) {
    .MuiPaper-root {
        border-radius: 1.5rem;
    }
}